<div class="logo text-center mb-3">
  <img src="./public/images/logo.png" alt="الشعار" width="100" />
</div>
<a href="#" class="sidebar-link d-block mb-3">
  <i class="bi bi-house"></i> الصفحة الرئيسية
</a>
<a
  href="#"
  class="sidebar-link d-block mb-3 load-link active"
  data-page="users.html"
>
  <i class="bi bi-people"></i> إدارة المستخدمين
</a>
<a href="#" class="sidebar-link d-block mb-3">
  <i class="bi bi-chat-dots"></i> الجلسات
</a>
<a href="#" class="sidebar-link d-block mb-3 load-link" data-page="topics.html">
  <i class="bi bi-hash"></i> المواضيع
</a>
<a href="#" class="sidebar-link d-block mb-3">
  <i class="bi bi-journal-text"></i> القرارات
</a>
<div class="mt-auto">
  <a href="#" class="sidebar-link d-block mb-3">
    <i class="bi bi-headset"></i> الدعم الفني
  </a>
  <a href="#" class="sidebar-link d-block mb-3">
    <i class="bi bi-gear"></i> الإعدادات
  </a>
</div>
<div class="user-info d-flex align-items-center mt-4">
  <div>
    <p class="mb-0">محمد عبد الله</p>
    <span class="small text-muted">سكرتير</span>
  </div>
</div>
