<div class="path mb-2"><span>الرئيسية</span> / إدارة المواضيع</div>
<div class="d-flex justify-content-between align-items-center mb-2">
  <h2>إضافة موضوع</h2>
</div>
<p class="text-muted">تمكنك الصفحة من إدارة المواضيع</p>
<hr />

<!-- Statistics -->
<div class="row g-3 mb-4">
  <div class="col-md-6">
    <div class="stats-card">
      <span>0000</span>
      <p>العدد الإجمالي للمواضيع</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="stats-card">
      <span>89%</span>
      <p>تقدم المهام</p>
    </div>
  </div>
</div>

<!-- Table -->

<div class="row border" style="height: 50px">
  <div class="col boxG d-flex justify-content-center align-items-center">
    <img src="./public/icon/Arrow.png" alt="" srcset="" />
  </div>
  <div class="col box d-flex justify-content-center align-items-center">
    الجلسة
  </div>
  <div class="col d-flex justify-content-center align-items-center">مهندس</div>
  <div class="col d-flex justify-content-center align-items-center">مصري</div>
  <div class="col d-flex justify-content-center align-items-center">
    0123456789
  </div>

  <div class="col d-flex justify-content-center align-items-center">
    <img src="./public/icon/point.svg" alt="" srcset="" />
  </div>
</div>
<div class="row border" style="height: 50px">
  <div class="col boxG d-flex justify-content-center align-items-center">
    <img src="./public/icon/Arrow.png" alt="" srcset="" />
  </div>
  <div class="col box d-flex justify-content-center align-items-center">
    الجلسة
  </div>
  <div class="col d-flex justify-content-center align-items-center">مهندس</div>
  <div class="col d-flex justify-content-center align-items-center">مصري</div>
  <div class="col d-flex justify-content-center align-items-center">
    0123456789
  </div>

  <div class="col d-flex justify-content-center align-items-center">
    <img src="./public/icon/point.svg" alt="" srcset="" />
  </div>
</div>
<div class="row border" style="height: 50px">
  <div class="col boxG d-flex justify-content-center align-items-center">
    <img src="./public/icon/Arrow.png" alt="" srcset="" />
  </div>
  <div class="col box d-flex justify-content-center align-items-center">
    الجلسة
  </div>
  <div class="col d-flex justify-content-center align-items-center">مهندس</div>
  <div class="col d-flex justify-content-center align-items-center">مصري</div>
  <div class="col d-flex justify-content-center align-items-center">
    0123456789
  </div>

  <div class="col d-flex justify-content-center align-items-center">
    <img src="./public/icon/point.svg" alt="" srcset="" />
  </div>
</div>
